<header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </div>
    <div class="meta">
        {{ if .Site.Params.orderByPublishDate }}
            {{ $.Scratch.Set "dateType" .PublishDate }}
        {{ else }}
            {{ $.Scratch.Set "dateType" .Date }}
        {{ end }}

        {{ $date := now.Year }}
        {{ $lastmod := .Lastmod.Format (.Site.Params.dateFormat | default "2006") }}

        <!-- Variables for Dates to be COMPARED -->
        {{ $date_for_comparison := now.Year }}
        {{ $lastmod_for_comparison := .Lastmod.Format (.Site.Params.dateFormat | default "2006") }}

        {{ $min := math.Min $lastmod_for_comparison $date_for_comparison }}
        {{ $max := math.Max $lastmod_for_comparison $date_for_comparison }}

        {{ $difference := sub $max $min }}

        <!-- a full year -->
        {{ $tolerance := 3 }}
        {{ $var := sub $difference $tolerance }}

        {{ if gt $difference $tolerance }}
        <time class="published" data-hover='{{ ($.Scratch.Get "dateType").Format "2006" }}'
            datetime='{{ ($.Scratch.Get "dateType").Format "2006" }}'
            data-initial='Written in' data-extras='{{ $difference }}'>
            <span class="underline">(<i class="fa fa-mouse-pointer"></i>?</span>)
        </time>
        {{ else }}
        <time class="published" data-extras='{{ $difference }}'>
            <span class="normalize">
                {{ ($.Scratch.Get "dateType").Format "January, 2006" }}
            </span>
        </time>
        {{ end }}

        <span class="author">{{ .Params.author }}</span>
        {{ if .Site.Params.includeReadingTime }}
            <p>{{ .ReadingTime }} minute read</p>
        {{ end }}
        <!--<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
    </div>
</header>
