<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f9885b8b-9d27-4bc2-a443-ffc383da18cc"
    data-share-badge-host="https://www.credly.com"></div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="00633b96-640a-465a-b836-9912fae24a05"
    data-share-badge-host="https://www.credly.com"></div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bf187d22-ad08-4f4f-b26e-b3430fa7a7c3"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="137d622b-619f-4d47-8e9d-a3c3c6490bc1"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0c97547f-75e6-436a-84b1-07150ea2f3bc"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1aaa51c9-cdc2-43d2-ad1e-e22d2942b15e"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3e5873a6-fe7e-419d-875b-3dab8516e652"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b424ac63-085f-4606-b6f1-e478c691b807"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="84fda6e3-87a1-46f6-bb08-a203f791918a"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e4fca862-a740-449d-a748-169135358066"
    data-share-badge-host="https://www.credly.com">
</div>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8d1233d8-0957-44ae-abc3-a923c69eac0a"
    data-share-badge-host="https://www.credly.com">
</div>

<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>