<div class="box alt">
    <div class="row uniform">
       <div class="6u">
          <span class="image fit">
             <img src="/img/2018/04/media-1.jpg" alt="Jon G.">
          </span>
       </div>
       <div class="6u">
          <span class="image fit">
             <img src="/img/2018/04/media-2.jpg" alt="Me">
          </span>
       </div>
    </div>
     <div class="row uniform">
       <div class="6u">
          <span class="image fit">
             <img src="/img/2018/04/media-3.jpg" alt="Jonathan">
          </span>
       </div>
       <div class="6u">
          <span class="image fit">
             <img src="/img/2018/04/media-4.jpg" alt="Håkon">
          </span>
       </div>
    </div>
 </div>